<main class="container-fluid " id="publicacion">
    <div class="">
        <table class="table table-striped ">
            <thead>
                <h1 class="text-center">Publicaciones</h1>
            </thead>
            <tbody class="publicacion ">
                <tr *ngFor="let p of Publicacion" class="tabla_publicacion ">
                    <div class="grupo1">
                        <img src="../images/logo.png" alt="imagen de perfil" class="imagenperfil">
                    <div>
                        <div class="titulo">
                            {{p.titulo}}
                        </div> 
                        <div class="autor">
                            autor
                        </div>
                        <div class="date">
                            {{p.date_created}}
                        </div>
                    </div>
                    </div>
                    <div class="descripcion">
                        {{p.descripcion}}
                    </div> 
                    <div class="image">
                        <div>
                            <img  src="../images/{{p.multimedia}}" alt="{{p.multimedia}}">  
                        </div>
                    </div>
                    <div class="botones">
                        <button type="button" class="btn btn-primary"  title="Me gusta">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                            </svg>
                            Me gusta 
                        </button> &nbsp;
                        <button type="button" class="btn btn-primary" title="Comentarios">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-text" viewBox="0 0 16 16">
                                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
                                <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8m0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5"/>
                            </svg>
                            Comentarios
                        </button> &nbsp;
                        <button type="button" class="btn btn-primary"  title="Compartir">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5"/>
                            </svg>
                            Compartir
                        </button> &nbsp;
                        <button type="button" class="btn btn-primary" title="Enviar">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                                <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
                            </svg>
                            Enviar
                        </button> &nbsp;
                    </div>
                    
                </tr>
            </tbody>
        </table>
    </div>

</main>
